<div class="text-mute ">
  <h1 class="display-4 text-justify"><%=behavior%></h1>
</div>
<div class="text-primary">
  <h6>Date time: <small><%=date%>, <%=time%></small></h6>
  <h6>Flock size: <small><%=flock_size %></small></h6>
</div>
