<%- include('header', {title: `species`}); -%>
  <body>
    <%- include('nav'); -%>
    <div class="container col-10 bg-light border mt-4 p-3">
      <h6>Species:</h6>
      <% species.forEach((s)=>{%>
      <a href="/species/<%=s.id %>" class="btn btn-outline-secondary btn-sm" style="margin:0.2rem"><%=s.name %></a>
      <% }) %>
    </div>
  </body>
</html>
